<div style="position: relative">
    <!--Sign in form-->
    <div class="wrapper" ng-show="view === 'login'" style="z-index: 1">
        <form class="form-signin well centered" name="loginForm" ng-submit="loginForm.$valid && login(loginUsername, loginPassword)" novalidate>
            <h2 class="form-signin-heading" style="padding-top: 0; margin-top: 0;">Please sign in</h2>
            <label for="loginUsername" class="sr-only">Username</label>
            <input type="text" id="loginUsername" ng-model="loginUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="loginPassword" class="sr-only">Password</label>
            <input type="password" id="loginPassword" ng-model="loginPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <button class="btn btn-lg btn-danger btn-block" type="button" ng-click="view = 'register'">Register</button>
        </form>
    </div>

    <!--Register form-->
    <div class="wrapper" ng-show="view === 'register'" style="z-index: 1">
        <form class="form-signin well well-sm centered" name="registerForm" ng-submit="registerForm.$valid && register(registerUsername, registerPassword)" novalidate>
            <h2 class="form-signin-heading" style="padding-top: 0; margin-top: 0;">Register</h2>
            <label for="registerUsername" class="sr-only">Username</label>
            <input type="text" id="registerUsername" ng-model="registerUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="registerPassword" class="sr-only">Password</label>
            <input type="password" id="registerPassword" ng-model="registerPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            <button class="btn btn-lg btn-default btn-block" type="button" ng-click="view = 'login'">Cancel</button>
        </form>
    </div>

    <!--Create Resource Table-->
    <table style="z-index: 1" class="resource-display" ng-show="loggedIn">
        <tr>
            <td>
                <div class="circleBase resource">
                    <img src="/static/imgs/resources/gold.png" height="60" width="60" alt="gold" />
                    <p>{{gold}}</p>
                </div>
            </td>
            <td>
                <div class="circleBase resource" >
                    <img src="/static/imgs/resources/food.png" height="60" width="60" alt="food" />
                    <p>{{food}}</p>
                </div>
            </td>
            <td>
                <div class="circleBase resource" >
                    <img src="/static/imgs/resources/wood.png" height="60" width="60" alt="wood" />
                    <p>{{wood}}</p>
                </div>
            </td>
            <td>
                <div class="circleBase resource" >
                    <img src="/static/imgs/resources/stone.png" height="60" width="60" alt="stone" />
                    <p> {{stone}}</p>
                </div>
            </td>
        </tr>
    </table>

    <!--Create Unit Table-->
    <table style="z-index: 1" class="create-unit" ng-show="loggedIn">
        <tr><th>Create Units</th></tr>
        <tr>
            <td>
                <button ng-click="createunit('pikeman')" ng-disabled="gold < 2 || stone < 2" class=" btn btn-sq-lg btn-primary" uib-popover="Cost: 2 Gold, 2 Stone." popover-append-to-body="true" popover-title="Pikeman" popover-placement="left" popover-trigger="mouseenter">
                    <img src="/static/imgs/sprites/pikeman.png" alt="pikeman"/>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button ng-click="createunit('archer')" ng-disabled="gold < 1 || stone < 1" class="btn btn-sq-lg btn-success" uib-popover="Cost: 1 Gold, 1 Wood." popover-append-to-body="true" popover-title="Archer" popover-placement="left" popover-trigger="mouseenter">
                    <img src="/static/imgs/sprites/archer.png" alt="archer"/>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button ng-click="createunit('mage')" ng-disabled="gold < 5" class="btn btn-sq-lg btn-info" uib-popover="Cost: 5 Gold." popover-append-to-body="true" popover-title="Mage" popover-placement="left" popover-trigger="mouseenter">
                    <img src="/static/imgs/sprites/mage.png" alt="mage"/>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button ng-click="createunit('knight')" ng-disabled="gold < 2 || stone < 2" class="btn btn-sq-lg btn-warning" uib-popover="Cost: 2 Gold, 2 Stone." popover-append-to-body="true" popover-title="Knight" popover-placement="left" popover-trigger="mouseenter">
                    <img src="/static/imgs/sprites/knight.png" alt="knight"/>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button ng-click="createunit('swordsman')" ng-disabled="gold < 2 || stone < 2" class="btn btn-sq-lg btn-danger" uib-popover="Cost: 2 Gold, 2 Stone." popover-append-to-body="true" popover-title="Swordsman" popover-placement="left" popover-trigger="mouseenter">
                    <img src="/static/imgs/sprites/swordsman.png" alt="swordsman"/>
                </button>
            </td>
        </tr>
    </table>

    <!--User information-->
    <button class="btn btn-sq-lg update-info" ng-show="loggedIn" ng-click="view = 'editInfo'"><img src="/static/imgs/misc/edit.png" alt="edit player info"/></button>
    <!--Selection Panel-->
    <div class="wrapper" ng-show="view === 'editInfo'" style="z-index: 1">
        <form class="form-signin well well-sm centered" name="editInfoForm" ng-submit="editInfoForm.$valid && updateInfo(displayName, empireColor)" novalidate>
            <h2 class="form-signin-heading" style="padding-top: 0; margin-top: 0;">Edit Information</h2>
            <label for="displayName" class="sr-only">Display name</label>
            <input type="text" id="displayName" ng-model="displayName" class="form-control" placeholder="Display name" required autofocus>
            <label for="empireColor" class="sr-only">Empire Color</label>
            <div id="empireColor" k-opacity="true"></div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            <button class="btn btn-lg btn-default btn-block" type="button" ng-click="view = 'game'">Cancel</button>
        </form>
    </div>

    <!--Wrapper for panning-->
    <div class="panhandler" id="panhandler" content-height="{{screenHeight}}" content-width="{{screenWidth}}" style="z-index:-1">
        <!--Canvas for game board-->
        <canvas id="hexmap" width="2000" height="2000"></canvas>
    </div>
</div>