<div style="position: relative">
    <!--Sign in form-->
    <div class="wrapper" ng-show="view === 'login'" style="z-index: 1">
        <form class="form-signin well centered" name="loginForm" ng-submit="loginForm.$valid && login(loginUsername, loginPassword)" novalidate>
            <h2 class="form-signin-heading" style="padding-top: 0; margin-top: 0;">Please sign in</h2>
            <label for="loginUsername" class="sr-only">Username</label>
            <input type="text" id="loginUsername" ng-model="loginUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="loginPassword" class="sr-only">Password</label>
            <input type="password" id="loginPassword" ng-model="loginPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <button class="btn btn-lg btn-danger btn-block" type="button" ng-click="view = 'register'">Register</button>
        </form>
    </div>

    <!--Register form-->
    <div class="wrapper" ng-show="view === 'register'" style="z-index: 1">
        <form class="form-signin well well-sm centered" name="registerForm" ng-submit="registerForm.$valid && register(registerUsername, registerPassword)" novalidate>
            <h2 class="form-signin-heading" style="padding-top: 0; margin-top: 0;">Register</h2>
            <label for="registerUsername" class="sr-only">Username</label>
            <input type="text" id="registerUsername" ng-model="registerUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="registerPassword" class="sr-only">Password</label>
            <input type="password" id="registerPassword" ng-model="registerPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            <button class="btn btn-lg btn-default btn-block" type="button" ng-click="view = 'login'">Cancel</button>
        </form>
    </div>

    <!--Create Unit Table-->
    <table style="z-index: 1" class="create-unit" ng-show="loggedIn">
        <tr><td><button ng-click="createunit()" class="btn btn-sq-lg btn-primary create-unit">Create Unit</button></td></tr>
        <tr><td><button ng-click="createunit()" class="btn btn-sq-lg btn-success create-unit">Create Unit</button></td></tr>
        <tr><td><button ng-click="createunit()" class="btn btn-sq-lg btn-info create-unit">Create Unit</button></td></tr>
        <tr><td><button ng-click="createunit()" class="btn btn-sq-lg btn-warning create-unit">Create Unit</button></td></tr>
        <tr><td><button ng-click="createunit()" class="btn btn-sq-lg btn-danger create-unit">Create Unit</button></td></tr>
    </table>

    <!--Wrapper for panning-->
    <div class="panhandler" content-height="{{screenHeight}}" content-width="{{screenWidth}}" style="z-index:-1">
        <!--Canvas for game board-->
        <canvas id="hexmap" width="2000" height="2000"></canvas>
    </div>
</div>